.alcance{
    height: 150px;
    background-color: rgb(52, 63, 75);
}
.fondoB{
    background-color: white;
    height: 500px;
    padding-top: 20px;
}
.fondoA{
    background-color: rgb(52, 63, 75);
    height: 239px;
}
#letra{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #018ABE;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    margin-bottom: -20px;
}

#imagen15{
    margin-top: -150px;
    margin-left: 10px;
    width: 600px;
    height: 390px;
    position: absolute;
}
.flexi{
    display: flex;
    padding-top: 280px;    
}
#letra3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #018ABE;
    font-size: 25px;
    padding-left: 650px;
    font-weight: 700;
    margin: -3px;
}
.alinearl{
    padding-top: 40px;
}
.button_h15{
    display: inline-block;
    padding-left: 650px;
    padding-top: 30px;
    padding: 10px 20px; 
   
}
#Boton_h15:hover{
    background-color: #018ABE;
}

#Boton_h15{
    color: white;
    background-color:  #4AB4DD;
    text-decoration: none;
    padding: 5px 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: left;
    border-radius: 5px;
    border-color: transparent;
    width: 200px;
    height: 40px;
    margin-left: 670px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: #4AB4DD;
    font-weight: bold;
    
}

@media (max-width: 512px){
    .alcance{
        height: 50px;
        background-color: rgb(52, 63, 75);
    }
    .fondoB{
        background-color: white;
        height: 400px;
        padding-top: 20px;
    }
    .own{
        margin-top: 20px;
    }

    .fondoA{
        margin-top: 100px;
        background-color: rgb(52, 63, 75);
        height: 350px;
    }
    #letra{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #018ABE;
        font-size: 20px;
        text-align: center;
        font-weight: 700;
        margin-bottom: -20px;
    }
    
    #imagen15{
        margin-top: -160px;
        margin-left: 10px;
        width: 350px;
        height: 340px;
        position: absolute;
    }

    .flexi{
        display: flex; 
    }

    #letra3{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(52, 63, 75);
        font-size: 15px;
        font-weight: 700;
    }

    .alinearl{
        margin-left: -300px;
        margin-top: -200px;

    }
    .button_h15{
        display: inline-block;
        padding-left: 10px;
        padding-top: 30px;
    }
    
    #Boton_h15{
        color: white;
        background-color:  #018ABE;
        text-decoration: none;
        padding: 5px 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        text-align: left;
        border-radius: 5px;
        border-color: transparent;
        width: 100px;
        height: 40px;
        margin-left: 380px;
        margin-top: 10px;
        text-align: center;
    }
    
}